.top__block-information {
  max-width: 400px;
}

.top__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 7px;
}

.top__num {
  width: 32px;
  height: 32px;
  border: 1px solid #424242;
  border-radius: 50%;
  position: relative;
}

.top__sub-text {
  position: absolute;
}
