@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Nunito:regular,600,700&display=swap");
.popular {
  margin-bottom: 40px;
}

.popular__container {
  margin-bottom: 30px;
}

.popular__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popular__content {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
  -webkit-box-shadow: 0px 6px 25px rgba(6, 5, 50, 0.05);
          box-shadow: 0px 6px 25px rgba(6, 5, 50, 0.05);
  border-radius: 0.625em;
  padding: 14px 0px 14px 18px;
}

.popular__content:not(:last-child) {
  margin-right: 1.25em;
}

.popular__picture {
  margin-right: 22px;
}

.popular__text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  line-height: 1.357;
  color: #000;
  font-family: "Nunito";
}

.popular__text h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.popular__text p {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

/*---------Общие стили для кнопок ------------*/
.main-button {
  font-family: "Nunito";
  padding: 0.5em 1.2em;
  border-radius: 1000em;
  cursor: pointer;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.37em;
  background-color: #f96900;
  color: #ffffff;
  border-radius: 1000em;
}

.main-button:hover {
  background: #c65300;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.main-button:active {
  background: #933e00;
}

@media (max-width: 767.98px) {
  .bottom__basket {
    display: none;
  }
}

.item-btn {
  font-family: "Nunito";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.375em 0.93em;
}

@media (max-width: 767.98px) {
  .item-btn {
    background: #f3f3f7;
    border-radius: 100em;
  }
  .item-btn:hover {
    background: #fff0e6;
  }
}

.item-btn:hover {
  color: #fff0e6;
}

.base-button {
  font-family: "Nunito";
  padding: 0.5em 1.2em;
  border-radius: 1000em;
  color: #d15700;
  cursor: pointer;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.37em;
  background: #fff0e6;
  border-radius: 1000em;
}

.base-button:hover {
  background: #ffd1b3;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.base-button:active {
  background: #ffb380;
}

.footer {
  background-color: #464c55;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}

@media (max-width: 767.98px) {
  .footer__top {
    margin-bottom: 20px;
  }
}

.footer__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 40px 0;
  border-bottom: 1px solid #ffffff;
}

@media (max-width: 767.98px) {
  .footer__middle {
    border-top: 1px solid #ffffff;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0 20px 0;
  }
}

.footer__bottom {
  padding: 46px 0 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991.98px) {
  .footer__bottom {
    padding: 36px 0 33px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767.98px) {
  .footer__bottom {
    padding: 30px 0 24px;
  }
}

.top-footer {
  padding: 50px 0 0 0;
}

@media (max-width: 991.98px) {
  .top-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 35px 0 0 0;
  }
}

@media (max-width: 767.98px) {
  .top-footer {
    padding: 20px 0 0 0;
  }
}

.top-footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 66.666%;
          flex: 1 1 66.666%;
  margin-right: 80px;
}

@media (max-width: 991.98px) {
  .top-footer__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px 0 40px 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 767.98px) {
  .top-footer__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0px;
    gap: 12px;
  }
}

.top-footer__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}

@media (max-width: 767.98px) {
  .top-footer__content:not(:last-child) {
    margin-bottom: 30px;
  }
}

.top-footer__title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.44;
  color: #ffffff;
  margin-bottom: 10px;
}

.top-footer__list-1 li:not(:last-child),
.top-footer__list-2 li:not(:last-child),
.top-footer__list-3 li:not(:last-child),
.top-footer__list-4 li:not(:last-child) {
  margin-bottom: 10px;
}

.top-footer__link {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125em;
  line-height: 1.44;
  color: #ffffff;
  opacity: 0.7;
}

.top-footer__link:hover {
  opacity: 1;
}

.top-footer__info {
  font-family: "Nunito";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.top-footer__info a {
  color: #ffffff;
}

.top-footer__picture {
  margin-bottom: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

@media (max-width: 991.98px) {
  .top-footer__picture {
    margin-bottom: 0px;
  }
}

@media (max-width: 991.98px) {
  .top-footer__number {
    display: none;
  }
}

.top-footer__text {
  color: #ffffff;
  opacity: 0.5;
  margin-bottom: 26px;
}

@media (max-width: 991.98px) {
  .top-footer__text {
    display: none;
  }
}

.top-footer__mail {
  font-family: "Nunito";
  opacity: 0.9;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: right;
  color: #ffffff;
  opacity: 0.9;
}

@media (max-width: 991.98px) {
  .top-footer__mail {
    display: none;
  }
}

/*-------------------style ---- content-column ----------------*/
.content-column-1:not(:last-child) {
  margin-right: 40px;
}

.content-column-2:not(:last-child) {
  margin-right: 33px;
}

.content-column-3:not(:last-child) {
  margin-right: 26px;
}

/*-------------------------------------------------------------*/
.middle-footer {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.28;
  color: #ffffff;
}

.middle-footer__statistics-1 {
  max-width: 300px;
  margin-right: 154px;
}

@media (max-width: 767.98px) {
  .middle-footer__statistics-1 {
    max-width: 768px;
    margin-right: 0px;
  }
}

.middle-footer__statistics-2 {
  max-width: 241px;
}

@media (max-width: 767.98px) {
  .middle-footer__statistics-2 {
    max-width: 768px;
  }
}

.middle-footer__statistics-2 h3,
.middle-footer__statistics-1 h3 {
  font-weight: 600;
  font-size: 1.625em;
  line-height: 1;
  margin-bottom: 10px;
  opacity: 1;
}

.middle-footer__statistics-2 p,
.middle-footer__statistics-1 p {
  opacity: 0.7;
}

@media (max-width: 767.98px) {
  .bottom-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 14px;
  }
}

.bottom-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 14px;
          column-gap: 14px;
}

@media (max-width: 991.98px) {
  .bottom-footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 767.98px) {
  .bottom-footer__list {
    margin-bottom: 30px;
    text-align: left;
  }
}

.bottom-footer__link {
  font-weight: 400;
  font-size: 1em;
  line-height: 1.38;
  color: #ffffff;
  opacity: 0.7;
}

.bottom-footer__link:hover {
  opacity: 1;
}

.bottom-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 6px;
          column-gap: 6px;
}

.bottom-footer__social li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.bottom-footer__social li:hover {
  opacity: 0.7;
}

.header {
  padding-top: 1.6em;
  margin-bottom: 0.875em;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top {
  margin-bottom: 2.6em;
}

.top__block-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.4em;
}

@media (max-width: 767.98px) {
  .top__block-logo {
    gap: 0.515em;
  }
}

.top__items h1 {
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.top__title {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  background: url("../img/logo/pizza-house.svg") 0 100%/contain no-repeat;
  margin-bottom: 0.4em;
}

.top__text {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75em;
  line-height: 1em;
  color: #343434;
}

@media (max-width: 767.98px) {
  .top__text {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .top__block-info {
    display: none;
  }
}

.top__sub-text {
  font-family: "Nunito";
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1.33;
  color: #343434;
}

/*--------------------style telephone ------------------------*/
.telephone {
  font-family: "Arial";
  font-weight: 600;
  font-size: 1.13em;
  line-height: 1.38;
  color: #000;
}

/*------------------------------------------------------------*/
/*-------------- icons pizza-------------------*/
@media (max-width: 767.98px) {
  .logo-icons {
    display: none;
  }
}

.logo-icons-mobile {
  display: none;
}

@media (max-width: 767.98px) {
  .logo-icons-mobile {
    display: inline-block;
  }
}

/*---------------------------------------------*/
.navigation {
  padding: 15px;
  position: -webkit-sticky;
  position: sticky;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 5;
}

@media (max-width: 539.98px) {
  .navigation {
    padding: 0;
  }
}

.navigation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__items {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 767.98px) {
  .navigation__items {
    overflow-x: scroll;
  }
}

.navigation__basket {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.37;
  text-align: center;
  color: #fff;
}

@media (max-width: 767.98px) {
  .navigation__basket {
    display: none;
  }
}

.menu {
  position: -webkit-sticky;
  position: sticky;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.4em;
          column-gap: 1.4em;
  -ms-flex-item-align: center;
      align-self: center;
}

.menu__list a {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8em;
  line-height: 1.35;
  color: #000;
}

.menu__list a:hover {
  color: #f96900;
}

@media (max-width: 767.98px) {
  .menu__list a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

/*-----------------Стили для заголовков -----------------*/
.base-title {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.375;
  color: #000;
  margin-bottom: 1.875em;
}

.main {
  padding: 0 0 134px 0;
}

@media (max-width: 767.98px) {
  .cart-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.cart-item__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 539.98px) {
  .cart-item {
    margin-bottom: 15px;
    border-bottom: 1px solid #f3f3f7;
  }
}

/*-------------Адаптивные картинки -------------*/
/*------------------- Обнуление стилей---------------------------------*/
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  /* по умолчанию */
  font-size: 16px;
  scroll-behavior: smooth;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
*/
body {
  line-height: 1;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* ------------------------------ */
.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* Условные ПК, ноуты и телевизоры */
/* 1050 из макета (контейнер + отступы) */
/* Условные планшеты */
/* Условные мобилки */
[class*="__container"] {
  max-width: 970px;
  margin: 0px auto;
  padding: 0px 15px;
}

.combo {
  margin-bottom: 70px;
}

.combo__cart {
  margin: 0 -20px;
}

.cart-item__image-combo {
  padding: 0 15px;
  max-width: 220px;
}

@media (max-width: 539.98px) {
  .cart-item__image-combo {
    max-width: 115px;
    padding: 0 7px;
  }
}

.deserts {
  margin-bottom: 70px;
}

.deserts__cart {
  margin: 0 -20px;
}

.cart-item__image-combo {
  padding: 0 15px;
  max-width: 220px;
}

@media (max-width: 539.98px) {
  .cart-item__image-combo {
    max-width: 115px;
    padding: 0 7px;
  }
}

.drinks {
  margin-bottom: 70px;
}

.drinks__cart {
  margin: 0 -20px;
}

/*------------ Основная сетка --------------*/
.grid-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 60px 20px;
}

@media (max-width: 991.98px) {
  .grid-content {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 60px 20px;
    margin: 0 auto;
  }
}

@media (max-width: 767.98px) {
  .grid-content {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 30px 20px;
  }
}

@media (max-width: 539.98px) {
  .grid-content {
    border-bottom: 1px solid #f3f3f7;
    gap: 16px 20px;
    margin-bottom: 15px;
  }
}

.pizza {
  margin-bottom: 70px;
}

.pizza__cart {
  margin: 0 -20px;
}

@media (max-width: 539.98px) {
  .pizza__cart {
    margin: 0;
  }
}

.snacks {
  margin-bottom: 70px;
}

.snacks__cart {
  margin: 0 -20px;
}

.cart-item {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 991.98px) {
  .cart-item {
    max-width: 250px;
  }
}

@media (max-width: 767.98px) {
  .cart-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 100%;
    padding: 0;
  }
}

.cart-item__image-pizza {
  padding: 0 15px;
  max-width: 220px;
}

@media (max-width: 539.98px) {
  .cart-item__image-pizza {
    max-width: 115px;
    padding: 0;
  }
}

.cart-item__title {
  font-family: "Nunito";
  font-weight: 600;
  font-size: 1.25em;
  line-height: 1.35;
  color: #000;
  margin-bottom: 0.625em;
}

@media (max-width: 767.98px) {
  .cart-item__title {
    font-size: 1.125em;
    line-height: 1.2;
  }
}

.cart-item__text {
  font-family: "Nunito";
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.36;
  color: #73798c;
  height: 100%;
  margin-bottom: 1.875em;
}

@media (max-width: 767.98px) {
  .cart-item__text {
    font-size: 0.75em;
    line-height: 1.2;
  }
}

.cart-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-item__content p {
  display: inline-block;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.375;
  color: #000;
}

@media (max-width: 539.98px) {
  .cart-item__content p {
    display: none;
  }
}

/*
.block {
	padding: 50px 0;
	// .block__title
	&__title {
		font-size: rem(20);
		text-transform: uppercase;
		&:not(:last-child) {
			margin-bottom: em(20, 20);
		}
	}
	// .block__items
	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: 1fr;
		gap: 20px;
		@media (max-width: $tablet) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: em(560)) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
.item {
	background-color: #666;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 15px;

	//display: grid;
	//grid-template-rows: auto 1fr;
	//gap: 15px;
	
	// .item__image-ibg
	&__image-ibg {
		padding-bottom: percent(250, 300);
	}
	// .item__body
	&__body {
		flex: 1 1 auto;

		display: grid;
		justify-items: start;
		grid-template-rows: auto 1fr;
		gap: 10px;
	}
	// .item__title
	&__title {
		text-transform: uppercase;
	}
	// .item__name
	&__name {
	}
	// .item__text
	&__text {
	}
	// .item__link
	&__link {
	}
}
*/
/*
.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 15px;
	// .grid__item
	&__item {
		padding: 15px;
		border-radius: rem(15);
		// .grid__item_v1
		&_v1 {
			background-color: #794f45;
			grid-column: span 4;
		}
		// .grid__item_v2
		&_v2 {
			background-color: #7a956b;
			grid-column: span 6;
			grid-row: span 2;
		}
		// .grid__item_v3
		&_v3 {
			background-color: #77608d;
			grid-column: span 6;
		}
		// .grid__item_v4
		&_v4 {
			background-color: rosybrown;
			grid-column: span 3;
		}
		@media (max-width: $tablet) {
			&:nth-child(3) {
				display: none;
			}
			&_v1 {
				grid-column: span 6;
				order: 1;
			}
			&_v2 {
				order: 2;
				grid-column: span 8;
			}
			&_v3 {
				order: 4;
				//grid-column: span 8;
				grid-column-start: 4;
				grid-column-end: 13;
			}
			&_v4 {
				order: 3;
				grid-column: span 4;
			}
		}
		@media (max-width: $mobile) {
			&_v1 {
			}
			&_v2 {
				grid-column: span 10;
			}
			&_v3 {
				order: 4;
				//grid-column: span 8;
				grid-column-start: 3;
				grid-column-end: 13;
			}
			&_v4 {
				order: 3;
				grid-column: span 6;
			}
		}
		@media (max-width: $mobileSmall) {
			grid-column-start: 1;
			grid-column-end: 13;
		}
	}
}
*/
