@charset "UTF-8";
/*---------Общие стили для кнопок ------------*/
@import url("https://fonts.googleapis.com/css?family=Nunito:regular,600,700&display=swap");
.main-button {
  padding: 0.5em 1.2em;
  border-radius: 1000em;
  cursor: pointer;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.37em;
  background-color: #f96900;
  border-radius: 1000em;
}

@media (max-width: 767.98px) {
  .main-button {
    display: none;
  }
}

.main-button:hover {
  background-color: #c65300;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.main-button:active {
  background-color: #933e00;
}

.item-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.375em 0.93em;
  background: #F3F3F7;
  border-radius: 100em;
}

.item-btn:hover {
  background: #FFF0E6;
}

.footer {
  background-color: #464C55;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}

.footer__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 40px 0;
  border-bottom: 1px solid #FFFFFF;
}

.footer__bottom {
  padding: 46px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-footer__link {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 1.125em;
  line-height: 1.44;
  color: #FFFFFF;
  opacity: 0.7;
}

.top-footer__info a {
  color: #FFFFFF;
}

.top-footer__text {
  color: #FFFFFF;
  opacity: 0.5;
}

.middle-footer {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.28;
  color: #FFFFFF;
  opacity: 0.7;
}

.middle-footer__statistics h3 {
  font-weight: 600;
  font-size: 1.625em;
  line-height: 1;
}

.middle-footer__statistics-1 {
  max-width: 300px;
  margin-right: 154px;
}

.middle-footer__statistics-2 {
  max-width: 241px;
}

.bottom-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 14px;
          column-gap: 14px;
}

.bottom-footer__link {
  font-weight: 400;
  font-size: 1em;
  line-height: 1.38;
  color: #FFFFFF;
  opacity: 0.7;
}

.bottom-footer__link:hover {
  opacity: 1;
}

.bottom-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 6px;
          column-gap: 6px;
}

.header {
  padding-top: 1.6em;
  margin-bottom: .875em;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top {
  margin-bottom: 2.6em;
}

.top__block-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.4em;
}

@media (max-width: 767.98px) {
  .top__block-logo {
    gap: 0.515em;
  }
}

.top__items h1 {
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.top__title {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  background: url("../img/logo/group.svg") 0 100%/contain no-repeat;
  margin-bottom: 0.4em;
}

.top__text {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 0.75em;
  line-height: 1em;
  color: #343434;
}

@media (max-width: 767.98px) {
  .top__text {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .top__block-info {
    display: none;
  }
}

.top__sub-text {
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1.33;
  color: #343434;
}

/*--------------------style telephone ------------------------*/
.telephone {
  font-family: 'Arial';
  font-weight: 600;
  font-size: 1.13em;
  line-height: 1.38;
  color: #000;
}

/*------------------------------------------------------------*/
/*-------------- icons pizza-------------------*/
@media (max-width: 767.98px) {
  .logo-icons {
    display: none;
  }
}

.logo-icons-mobile {
  display: none;
}

@media (max-width: 767.98px) {
  .logo-icons-mobile {
    display: inline-block;
  }
}

/*---------------------------------------------*/
.bottom__items {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 767.98px) {
  .bottom__items {
    overflow-x: scroll;
  }
}

.bottom__basket {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.37;
  text-align: center;
  color: #FFFFFF;
}

.menu {
  position: -webkit-sticky;
  position: sticky;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.4em;
          column-gap: 1.4em;
  -ms-flex-item-align: center;
      align-self: center;
}

.menu__list a {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 0.8em;
  line-height: 1.35;
  color: #000;
}

.menu__list a:hover {
  color: #f96900;
}

/*-------------Адаптивные картинки -------------*/
/*------------------- Обнуление стилей---------------------------------*/
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  /* по умолчанию */
  font-size: 16px;
  scroll-behavior: smooth;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
*/
body {
  line-height: 1;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* ------------------------------ */
.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

._ibg {
  position: relative;
}

._ibg img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* Условные ПК, ноуты и телевизоры */
/* 1050 из макета (контейнер + отступы) */
/* Условные планшеты */
/* Условные мобилки */
[class*="__container"] {
  max-width: 970px;
  margin: 0px auto;
  padding: 0px 15px;
}

/*
.block {
	padding: 50px 0;
	// .block__title
	&__title {
		font-size: rem(20);
		text-transform: uppercase;
		&:not(:last-child) {
			margin-bottom: em(20, 20);
		}
	}
	// .block__items
	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: 1fr;
		gap: 20px;
		@media (max-width: $tablet) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: em(560)) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
.item {
	background-color: #666;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 15px;

	//display: grid;
	//grid-template-rows: auto 1fr;
	//gap: 15px;
	
	// .item__image-ibg
	&__image-ibg {
		padding-bottom: percent(250, 300);
	}
	// .item__body
	&__body {
		flex: 1 1 auto;

		display: grid;
		justify-items: start;
		grid-template-rows: auto 1fr;
		gap: 10px;
	}
	// .item__title
	&__title {
		text-transform: uppercase;
	}
	// .item__name
	&__name {
	}
	// .item__text
	&__text {
	}
	// .item__link
	&__link {
	}
}
*/
/*
.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 15px;
	// .grid__item
	&__item {
		padding: 15px;
		border-radius: rem(15);
		// .grid__item_v1
		&_v1 {
			background-color: #794f45;
			grid-column: span 4;
		}
		// .grid__item_v2
		&_v2 {
			background-color: #7a956b;
			grid-column: span 6;
			grid-row: span 2;
		}
		// .grid__item_v3
		&_v3 {
			background-color: #77608d;
			grid-column: span 6;
		}
		// .grid__item_v4
		&_v4 {
			background-color: rosybrown;
			grid-column: span 3;
		}
		@media (max-width: $tablet) {
			&:nth-child(3) {
				display: none;
			}
			&_v1 {
				grid-column: span 6;
				order: 1;
			}
			&_v2 {
				order: 2;
				grid-column: span 8;
			}
			&_v3 {
				order: 4;
				//grid-column: span 8;
				grid-column-start: 4;
				grid-column-end: 13;
			}
			&_v4 {
				order: 3;
				grid-column: span 4;
			}
		}
		@media (max-width: $mobile) {
			&_v1 {
			}
			&_v2 {
				grid-column: span 10;
			}
			&_v3 {
				order: 4;
				//grid-column: span 8;
				grid-column-start: 3;
				grid-column-end: 13;
			}
			&_v4 {
				order: 3;
				grid-column: span 6;
			}
		}
		@media (max-width: $mobileSmall) {
			grid-column-start: 1;
			grid-column-end: 13;
		}
	}
}
*/
