/*---------Общие стили для кнопок ------------*/
.main-button {
  font-family: "Nunito";
  padding: 0.5em 1.2em;
  border-radius: 1000em;
  cursor: pointer;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.37em;
  background-color: $officalColor;
  color: $mainColorText;
  border-radius: 1000em;
  &:hover {
    background: darken($officalColor, 10);
    transition: 0.2s;
  }
  &:active {
    background: darken($officalColor, 20);
  }
}

//скрыть корзину
.bottom__basket {
  @media (max-width: 767.98px) {
    display: none;
  }
}

.item-btn {
  font-family: "Nunito";
  @media (max-width: 767.98px) {
    background: #f3f3f7;
    border-radius: 100em;
    &:hover {
      background: #fff0e6;
    }
  }
  display: flex;
  padding: 0.375em 0.93em;
  &:hover {
    color: #fff0e6;
  }
}

.base-button {
  font-family: "Nunito";
  padding: 0.5em 1.2em;
  border-radius: 1000em;
  color: #00d12d;
  cursor: pointer;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.37em;
  background: #e6ffe9;
  border-radius: 1000em;
  &:hover {
    background: darken(#e6ffe9, 10);
    transition: 0.2s;
  }
  &:active {
    background: darken(#e6ffe9, 20);
  }
}
