.deserts {
  margin-bottom: 70px;
  @media (max-width: 539.98px) {
    margin-bottom: 30px;
  }
  &__cart {
    margin: 0 -20px;
  }
}

.cart-item {
  // .cart-item__image-combo
  &__image-combo {
    padding: 0 15px;
    max-width: 220px;
    @media (max-width: 539.98px) {
      max-width: 115px;
      padding: 0 7px;
    }
  }
}
