.header {
	padding-top: 1.6em;
	margin-bottom: .875em;
	// .header__container

	&__container {

	}

	// .header__top

	&__top {
		display: flex;
		justify-content: space-between;
	}

	// .header__bottom

	&__bottom {
		display: flex;
		justify-content: space-between;
	}
}
.top {
	margin-bottom: 2.6em;
	// .top__block-logo
//??----------------------------------------------------------//

	&__block-logo {
		display: flex;
		gap: 1.4em;
		@media (max-width: 767.98px) {
			gap: 0.515em;
		}
	}
//??----------------------------------------------------------//
	// .top__items

	&__items {

	}

	&__items h1 {
		color: transparent;
		user-select: none;
	}
	// .top__title

	&__title {
		justify-content: start;
		background: url('../img/logo/group.svg') 0 100% / contain no-repeat;
		margin-bottom: 0.4em;
		//@media (max-width: 767.98px) {
		//	margin-bottom: 0;
		//}
	}

	// .top__text

	&__text {
		font-family: 'Nunito';
		font-style: normal;
		font-weight: 400;
		font-size: 0.75em;
		line-height: 1em;
		color: $subText;
		@media (max-width: 767.98px) {
			display: none;
		}
	}

	// .top__block-info

	&__block-info {
		@media (max-width: 767.98px) {
			display: none;
		}
	}

	// .top__number

	&__number {

	}

	// .top__sub-text

	&__sub-text {
		font-family: 'Nunito';
		font-weight: 400;
		font-size: 0.9em;
		line-height: 1.33;
		color: $subText;
	}
}
/*--------------------style telephone ------------------------*/ 
.telephone {
	//font-family: 'Nunito';
	font-family: 'Arial';
	font-weight: 600;
	font-size: 1.13em;
	line-height: 1.38;
	color: $mainColor;
}
/*------------------------------------------------------------*/



/*-------------- icons pizza-------------------*/
.logo-icons{
	@media (max-width: 767.98px) {
		display: none;
	}
}
.logo-icons-mobile{
	display: none;
	@media (max-width: 767.98px) {
		display: inline-block;
	}
}
/*---------------------------------------------*/

.bottom {
	position: sticky;
	//?? -------------- no working
	padding: 15px 0;
	background-color: $mainColorText;
	top: 0;
	left: 0;
	z-index: 5;
	// .bottom__items
	//white-space:nowrap;
	//overflow: hidden;
	&__items {
		align-self: center;
		@media (max-width: 767.98px) {
			overflow-x: scroll;
		}
	}

	// .bottom__menu

	&__menu {

	}

	// .bottom__content

	&__content {

	}

	// .bottom__basket

	&__basket {
		font-family: 'Nunito';
		font-style: normal;
		font-weight: 600;
		font-size: 1em;
		line-height: 1.37;
		text-align: center;
		color: $mainColorText;
		@media (max-width: 767.98px) {
			display: none;
		}
	}
}
.menu {
	position: sticky;

	// .menu__list
	&__list {
		display: flex;
		//flex-direction: column;
		column-gap: 1.4em;
		align-self: center;
		//flex-wrap: nowrap;
		//??--------------------------как убрать wrap на "другие товары" ?
	}

	&__list a{
		font-family: 'Nunito';
		font-style: normal;
		font-weight: 400;
		font-size: 0.8em;
		line-height: 1.35;
		color: $mainColor;
		&:hover{
			color: $officalColor;
		}

		
	}
	&__list a{
		//??--------------------------как убрать wrap на "другие товары" ?
		@media (max-width: 767.98px) {
			display: flex;
			flex-wrap: nowrap;
		}
		//??--------------------------как убрать wrap на "другие товары" ?
	}
	// .menu__item

	&__item {
	}
}