/*-----------------Стили для заголовков -----------------*/
.base-title {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.375;
  color: $mainColor;
  margin-bottom: 1.875em;
}

//общий блок для карточек

.cart-item {
  //  display: flex;
  @media (max-width: 767.98px) {
    display: flex;
    flex-direction: row;
  }

  &__block {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    @media (max-width: 767.98px) {
    }
  }

  @media (max-width: 539.98px) {
    margin-bottom: 15px;
    border-bottom: 1px solid #f3f3f7;
  }
}
