/*-----------------Стили для заголовков -----------------*/ 
.base-title {
   font-family: 'Nunito';
   font-weight: 700;
   font-size: 1.5em;
   line-height: 1.375;
   color: $mainColor;
   margin-bottom: 1.875em;
}