body {
  line-height: 1;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
/* ------------------------------ */

.main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 970px;
  margin: 0px auto;
  padding: 0px 15px;
}
