.navigation {
  padding: 15px;
  position: sticky;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 5;
  @media (max-width: 539.98px) {
    padding: 0;
  }

  &__container {
    display: flex;
  }

  &__items {
    flex: 1 1 auto;
    align-self: center;
    @media (max-width: 767.98px) {
      overflow-x: scroll;
    }
  }

  // .bottom__basket
  &__basket {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 1.37;
    text-align: center;
    color: #fff;
    @media (max-width: 767.98px) {
      display: none;
    }
  }
}

.menu {
  position: sticky;
  white-space: nowrap;

  // .menu__list
  &__list {
    display: flex;
    column-gap: 1.4em;
    align-self: center;
  }

  &__list a {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 0.8em;
    line-height: 1.35;
    color: $mainColor;
    &:hover {
      color: $officalColor;
    }
  }

  &__list a {
    @media (max-width: 767.98px) {
      display: flex;
      flex-wrap: nowrap;
    }
  }
}

//--------basket
.basket {
  display: none;
  @media (max-width: 767.98px) {
    display: block;
    position: fixed;
    bottom: 12%;
    right: 7%;
    width: 50px;
    height: 50px;
    background: $officalColor;
    border-radius: 50%;
  }
}

.basket__link-icons {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 30px;
  height: 30px;
}
