.top__block-information {
  max-width: 400px;
}
.top__numbers {
  display: flex;
  justify-content: space-between;
  gap: 7px;
  //position: relative;
}
.top__num {
  width: 32px;
  height: 32px;
  border: 1px solid #424242;
  border-radius: 50%;
  position: relative;
}
.top__number-1 {
  //position: absolute;
  //top: 0;
  //left: -120px;
}
.top__number-2 {
  //position: absolute;
  //top: 0;
  //left: 0;
}
.top__number-3 {
  //position: absolute;
  //top: 0;
  //left: 120px;
}

.top__sub-text {
  position: absolute;
}
